10 0 * * * /opt/hamclock-backend/scripts/gen_swind_24hr.pl \
  > /opt/hamclock-backend/htdocs/ham/HamClock/swind-24hr.txt

# Update observed cache after NOAA publishes
15 0 * * * www-data /opt/hamclock-backend/scripts/update_solarflux_cache.pl

# Publish client-facing file
20 0 * * * www-data /opt/hamclock-backend/scripts/publish_solarflux_99.pl

*/5 * * * * /opt/hamclock-backend/scripts/bzgen.sh

*/5 * * * * /opt/hamclock-backend/scripts/gen_onta.pl

*/30 * * * * /opt/hamclock-backend/scripts/aurora.sh
